{% extends "layout.html" %}
{% block title %}APP / Register{% endblock %}
{% block content %}
<main class="Mx(a) Maw(50rem)">
	<h1 class="Ta(c) Fz(s4) Fw(n)" >Login</h1>
	<form action="" method="post">
		<div>
			<legend>login</legend>
			<input name="username" value="{{ request.form.username }}">
		</div>
		<div>
			<legend>password</legend>
			<input type="password" name="password">
		</div>
		{% if error %}<div class="C(red)">{{ error }}</div>{% endif %}
		<input
			class="P(s04) Mt(s03) W(100%) | Fz(s1) _rButton() Bd(s,s05,black) Bgc(white) Bgc(black):h C(white):h"
			type="submit" value="Login &rsaquo;">
	</form>
</main>
{% endblock %}
