<!DOCTYPE html>
<html class="H(100%) M(0) Bxz(bb)">

<head>
	<title>{% block title %}{{title|default}}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<!-- Set box-sizing to inherit so it may be overwritten. -->
	<style>*,*:before,*:after{-moz-box-sizing:inherit;box-sizing:inherit}</style>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="static/type.css">
	<link rel="shortcut icon" href="static/favicon.png">
	{% block head %}{% endblock head %}
</head>

<body class="D(f) H(100%) M(0) | Ff(ClearSans)">
	{% block content %}{% endblock %}
</body>

</html>
