/* ---| No helpers defined in cell.yaml |--- */
/* ---| Cells |--- */
.Bd\(s\,1px\,\#191919\) {border: solid 1px #191919;}
.Bgc\(\#FAFAFA\) {background-color: #FAFAFA;}
.Bxz\(bb\) {box-sizing: border-box;}
.C\(\#191919\) {color: #191919;}
.C\(\#FF0000\) {color: #FF0000;}
.D\(b\) {display: block;}
.Ff\(m\) {font-family: monospace;}
.Fw\(b\) {font-weight: bold;}
.Fz\(\.5rem\) {font-size: .5rem;}
.Fz\(\.9rem\)\@md {font-size: .9rem;}
.H\(100\%\) {height: 100%;}
.H\(1rem\) {height: 1rem;}
.M\(0\) {margin: 0;}
.M\(a\) {margin: auto;}
.Mx\(a\) {margin-left: auto; margin-right: auto;}
.My\(0\) {margin-top: 0; margin-bottom: 0;}
.Ta\(c\) {text-align: center;}
.Tbl\(f\) {table-layout: fixed;}
.W\(100\%\) {width: 100%;}
.W\(60\%\) {width: 60%;}
.Wob\(ba\) {word-break: break-all;}
